<header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
        <img src="/iPortfolio-1.0.0/assets/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
         <h1 class="sitename">HA</h1>
    </a>
    <div class="social-links text-center">
        <a href="https://x.com/BursasporSk?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/bursaspor/?locale=tr_TR" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/bursaspor/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7316935237081399296/" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Ana Sayfa</a></li>
            <li><a href="#about"><i class="bi bi-person navicon"></i> Hakkımda</a></li>
            <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Deneyimlerim</a></li>
            <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Projelerim</a></li>
            <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Hizmetlerim</a></li>
            <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Bana Yazın</a></li>
        </ul>
    </nav>

</header>